
[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/lending-core"]
	path = lib/lending-core
	url = https://github.com/pegasys-fi/lending-core
[submodule "lib/lending-periphery"]
	path = lib/lending-periphery
	url = https://github.com/pegasys-fi/lending-periphery
